<h1>Boards#index</h1>
<p>Find me in app/views/boards/index.html.erb</p>
<% @boards.each do |board| %>
  <h1><%= board.title %></h1>
<% end %>

<%= form_for @board do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title %><br />
  <%= f.submit %>
<% end %>
