<h1>
  <%= @board.title %>
</h1>
<br>

<div class="row">

  <%# backlogs %>
  <div class="col s3">
    <h3>Backlog</h3>

    <% @tickets.backlogs.each do |ticket| %>
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <%= ticket.title %>
          <%= button_to "Current Sprint", "/tickets/#{ticket.id}/up", class: "waves-effect waves-light btn" %>
        </div>
      </div>
    <% end %>

  </div>

  <%# Current Sprint %>
  <div class="col s3">
    <h3>Current Sprint</h3>

    <% @tickets.current_sprint.each do |ticket| %>
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <p> <%= ticket.title %></p>
          <div class="row">
            <%= button_to "In Progress", "/tickets/#{ticket.id}/up", class: "waves-effect waves-light btn"  %>
            <%= button_to "Backlog", "/tickets/#{ticket.id}/down", class: "waves-effect waves-light btn"  %>
          </div>
        </div>
      </div>
    <% end %>

  </div>

  <%# IN progress%>
  <div class="col s3">
    <h3>In Progress</h3>

    <% @tickets.in_progress.each do |ticket| %>
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <p> <%= ticket.title %></p>
          <%= button_to "Done", "/tickets/#{ticket.id}/up", class: "waves-effect waves-light btn"  %>
          <%= button_to "Current Sprint", "/tickets/#{ticket.id}/down", class: "waves-effect waves-light btn"  %>
        </div>
      </div>
    <% end %>

  </div>
  <%# Done %>
  <div class="col s3">
    <h3>Done</h3>
    <% @tickets.done.each do |ticket| %>
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <p> <%= ticket.title %></p>
          <%= button_to "In Progress", "/tickets/#{ticket.id}/down", class: "waves-effect waves-light btn"  %>
        </div>
      </div>
    <% end %>

  </div>


</div>

<div class="row">
  <%= form_for @ticket do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.hidden_field :board_id, :value => @board.id %>
    <%= f.submit %>
  <% end %>
</div>


<%= link_to "Home", root_path %>

